<configuration>
  <appSettings>
    <!-- This key is used decide which configuration class to build -->
    <!-- False means local, true means remote -->
    <add key="Remote" value="false"/>
    <add key="Browser" value="CHROME"/>
    <add key="Platform" value="Windows"/>
    <add key="BrowserVersion" value="32"/>
    <add key="SeleniumHubUrl" value="http://localhost"/>
    <add key="SeleniumHubPort" value="4444"/>

    <!-- The Url of the application under test/check -->
    <add key="URL" value="https://the-internet.herokuapp.com"/>

    <!-- Test user -->
    <add key="Username" value="tomsmith"/>
    <add key="Password" value="SuperSecretPassword!"/>
  </appSettings>
</configuration>